
.navother {
    background-color: #016588;
    padding: 5px 0;
    text-align: center;
    position: relative;
    z-index: 20;
}

.menu {

    display: table;
    width: 100%;
}

.menu ul {/**/
    display: none;
    position: absolute;
    margin-left: 2.5em;
}


.menu > li {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px;/**/
}

.menu li li  {/**/
    text-align: left;
    padding: 0.3em 1em;

}

.menu li:hover >ul {/**/
    display: block;
}

.top-menu a {/**/
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
}

.menu > li > a:hover {
    color: #999999;
}

.top-menu a:hover {
    color: #999999;
}

/*.selected {
    background-color: ;
}*/

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.sub_menu_style {
    margin-left: 0px;
    padding-left: 0px;
    background-color: #016588;
}
