.navother {
    background-color: #016588;
    margin: 0 auto;
    list-style-type: none;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 20;
}

.navindex {
    background-color: #016588;
    margin: -8px 0 5px -20px;
    list-style-type: none;
    padding: 5px 0;
    text-align: center;
    width: 1932px;
    position: relative;
    z-index: 20;
}
.menu > li {
    display: inline;
    padding: 5px 20px;
}

.menu > li > a {
    text-decoration: none;
    font-size: 1.4em;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

.menu > li > a:hover {
    color: #999999;
}


.selected {
    background-color: ;
}