@import "menu.css";
@import "grid.css";

.pic_head {
    left: 0;
    top: 0;
}

.row {
    margin: 0 auto;
    max-width: 80%;
}

body {
    margin: 0%;
}

.container {
    max-width: 950px;
    margin: 0 auto 150px auto;
    text-align: justify;
    text-indent: 20px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    text-align: center;
    padding: 0 0 20px 0;
}

.center {
    width: 800px;
    margin: 0 auto;
}

ol.center {
    width: 400px;
    margin: 0 auto;
}

.label {
    padding-right: 10px;
}

.markers {
    list-style-type: none;
}

fieldset {
    width: 50%;
    margin: 0 auto 0 0;
}

.input {
    width: 250px;
    height: 30px;
    font-size: medium;
}

textarea {
    width:250px;
    height: 60px;
}

label.label b {
    vertical-align: top;
}

html {
    overflow-x: hidden;
}